.add-citizen-container {
    margin-top: 50px;
    border: 1px solid deepskyblue;
    padding: 50px 40px;
    width: 40%;
}

.add-citizen-row-container {
    display: flex;
    width: 100%;
}

.add-citizen-row {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
}

.add-citizen-select {
    flex: 5;
    margin-right: 5px;
}

.date-container, .job-container {
    flex: 7;
}
.gender-container, .grade-container {
    flex: 3;
    margin-right: 5px;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.add-citizen-button-row {
    margin-top: 40px;
}
#add-citizen-error {
    visibility: hidden;
}

@media (max-width:1400px) {
    .add-citizen-container {
        width: 80%;
    }
}

@media (max-width:600px) {
    .add-citizen-container {
        width: 90%;
        padding: 20px 10px;
    }
}