.add-location-container {
    margin-top: 50px;
}
.location-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1015px;
}
#declare-location-code {
    width: 300px;
}
#declare-location-name {
    width: 500px;
}