.add-location-container {
    margin-top: 50px;
}
.location-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

.code-container {
    flex: 2;
    min-width: 100px;
    margin-right: 5px;
}
.name-container {
    flex: 5;
    margin-right: 5px;
    min-width: 100px;
}
.button-container {
    flex: 3;
    display: flex;
}

#location-input-error {
    visibility: hidden;
}

@media (max-width:800px) {
    .location-input-container {
        display:block; 
        width: 100%;
    }
    .code-container, .name-container, .button-container {
        min-width: 90%;
        margin-bottom: 10px;
    }
}