.add-account-container {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    width: 80%;
}
.location-select-container {
    display: flex;
    flex: 6;
}
.select-container {
    flex: 4;
    margin-right: 5px;
    min-width: 110px;
}
.user-container {
    flex: 6;
    margin-right: 5px;
    min-width: 150px;
}
.password-container {
    flex: 5;
    margin-right: 5px;
    min-width: 130px;
}
.button-container {
    display: flex;
    flex: 4;
}

#add-account-error {
    visibility: hidden;
}

@media (max-width:1000px) {
    .add-account-container {
        display:block; 
        margin: 50px auto 0;
        width: 70%;
    }
    .location-select-container, .password-container, .button-container {
        margin-bottom: 10px;
    }
}

@media (max-width:600px) {
    .add-account-container {
        display:block; 
        width: 100%;
    }
    .location-select-container, .password-container, .button-container {
        min-width: 90%;
        margin-bottom: 10px;
    }
}