.add-permission-container {
    margin-top: 50px;
}
.permission-input-container {
    display: flex;
    align-items: flex-end;
    width: 70%;
}
.location-container {
    flex: 4;
    margin-right: 5px;
    min-width: 120px;
}
.date-container {
    flex: 5;
    margin-right: 5px;
}
.button-container {
    flex: 6;
    margin-right: 5px;
    display: flex;
}
.granted-permission {
    margin-top: 50px;
}

#grant-permission-error {
    visibility: hidden;
}

@media (max-width:1000px) {
    .permission-input-container {
        display:block; 
        margin : 50px auto 0;
    }
    .location-container, .date-container, .button-container {
        margin-bottom: 10px;
    }
}

@media (max-width:600px) {
    .permission-input-container {
        display:block; 
        width: 100%;
    }
    .location-container, .date-container, .button-container {
        margin-bottom: 10px;
    }
}