.wrapper {
    margin-top: 70px;
}

.citizen-list-container {
    margin-top: 30px;
}

.select-location-row {
    display: flex;
    justify-content: space-between;
}
.list-citizen-select {
    width: 200px;
}
#search-button {
    width: 100px;
}
.select-location-row {
    width: 920px;
}