.search-citizen-container {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    width: 30%;
}

.citizen-info-container {
    margin-top: 30px;
}

.id-container {
    flex: 8;
    margin-right: 5px;
    min-width: 300px;
}
#search-citizen-button {
    flex: 2;
    min-width: 80px;
}
#search-citizen-error {
    visibility: hidden;
}

#info-container {
    display: none;
}

#no-info-container {
    display: none;
}

@media (max-width:600px) {
    .search-citizen-container {
        width: 100%;
    }
}